<template>
  <div class="home">
    <div class="row">
      <AppHeader></AppHeader>
    </div>
    <div class="row">
      <div class="container">
        <ContactList></ContactList>
      </div>
    </div>
  </div>
</template>

<script>
import AppHeader from '@/components/AppHeader.vue';
import ContactList from '@/components/ContactList.vue';

export default {
  name: 'home',
  components: {
    AppHeader,
    ContactList
  }
};
</script>
