<template>
  <div>
    <b-modal
      content-class="shadow"
      centered
      hide-footer
      hide-header
      id="modal-prevent-closing"
      ref="modal"
      title="Add Contact"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <div class="row">
        <div class="col mb-4 modal-header">
          <div class="modal-title">Add Contact</div>
          <div class="modal-close icon-close" @click="handleClose()"></div>
        </div>
      </div>
      <div class="row justify-content-center mb-4">
        <div class="contact-image-container">
          <div class="contact-image">
            <div class="add-image icon-plus"></div>
          </div>
        </div>
      </div>
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label-for="name-input">
          <b-form-input
            placeholder="Name"
            id="name-input"
            v-model="contact.name"
          ></b-form-input>
        </b-form-group>

        <b-form-group label-for="surname-input">
          <b-form-input
            placeholder="Surname"
            id="surname-input"
            v-model="contact.surname"
          ></b-form-input>
        </b-form-group>

        <b-form-group label-for="number-input">
          <b-form-input
            placeholder="Mobile number"
            id="number-input"
            v-model="contact.mobileNumber"
          ></b-form-input>
        </b-form-group>

        <b-form-group label-for="email-input">
          <b-form-input
            placeholder="Email address"
            id="email-input"
            v-model="contact.email"
          ></b-form-input>
        </b-form-group>

        <b-form-group label-for="address-input">
          <b-form-input
            placeholder="Address"
            id="address-input"
            v-model="contact.address"
          ></b-form-input>
        </b-form-group>
      </form>
      <div class="row justify-content-end">
        <div class="col"></div>
        <div class="col">
          <b-button block variant="outline-secondary" @click="handleClose()">
            Cancel
          </b-button>
        </div>
        <div class="col">
          <b-button block variant="outline-primary" @click="handleSubmit()">
            Save
          </b-button>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      contact: {
        name: '',
        surname: '',
        mobileNumber: '',
        email: '',
        address: ''
      }
    };
  },
  methods: {
    resetModal() {
      this.contact.name = '';
      this.contact.surname = '';
      this.contact.mobileNumber = '';
      this.contact.email = '';
      this.contact.address = '';
    },
    handleOk(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleSubmit();
    },
    handleSubmit() {
      this.$nextTick(() => {
        this.$bvModal.hide('modal-prevent-closing');
      });
    },
    handleClose() {
      this.$nextTick(() => {
        this.$bvModal.hide('modal-prevent-closing');
      });
    }
  }
};
</script>

<style lang="scss">
.modal {
  .contact-image-container {
    position: relative;
    .contact-image {
      background-image: url('~@/assets/contact-images/contact_placeholder.png');
      box-shadow: none;
      border: 1px solid var(--gray-light);
    }
    .add-image {
      position: absolute;
      width: 2em;
      height: 2em;
      bottom: 0em;
      right: 0em;
      border-radius: 50%;
      border: 1px solid var(--gray-light);
      background-color: var(--white);
      color: var(--primary);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
</style>
