<template>
  <div class="container-fluid">
    <div class="header mb-4">
      <img class="logo" alt="Contact Savy Logo" src="@/assets/ic-logo.png" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppHeader'
};
</script>

<style lang="scss">
.header {
  background: var(--blue);
  padding: 1.6em 2em 1.2em;
  box-shadow: 0px 0px 2px 2px #636363;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
</style>
