<template>
  <div class="container">
    <div class="page-header">
      <div class="row justify-content-between align-items-center">
        <h2 class="page-title col-sm-6 col-lg-7 mb-3">My Contacts</h2>
        <div class="col-sm-3 col-lg-3 mb-3">
          <b-dropdown
            block
            id="dropdown-1"
            :text="filterText"
            split
            split-variant="outline-secondary"
            variant="outline-secondary"
          >
            <b-dropdown-item
              @click="changeFilterOption(option)"
              v-for="option of filterOptions"
              :key="option.$index"
              >{{ option }}</b-dropdown-item
            >
          </b-dropdown>
        </div>
        <div class="col-sm-3 col-lg-2 mb-3">
          <b-button
            block
            v-b-modal.modal-prevent-closing
            class="btn-outline-primary"
            >Add Contact</b-button
          >
        </div>
      </div>
    </div>
    <div class="list-container">
      <div class="card" v-for="group in amendedContacts" :key="group.$index">
        <div class="card-header">{{ group.key }}</div>
        <div
          class="card-body"
          v-for="contact of group.contacts"
          :key="contact.$index"
        >
          <div class="row align-items-center">
            <div class="col-3 col-lg-2">
              <div
                class="contact-image"
                :style="
                  'background-image: url(' +
                    require('@/assets/contact-images/' +
                      setContactPicture(contact.picture)) +
                    ')'
                "
              ></div>
            </div>
            <div class="col-7 col-sm-8 col-lg-9">
              <h5 class="card-title">
                {{ contact.firstName + ' ' + contact.surname }}
              </h5>
              <div
                class="card-text"
                v-show="selectedFilterOption === 'Mobile number'"
              >
                {{ contact.number }}
              </div>
              <div class="card-text" v-show="selectedFilterOption === 'Email'">
                {{ contact.email }}
              </div>
            </div>
            <div class="col-1">
              <button
                @click="removeContact(contact)"
                class="contact-actions btn btn-light icon-trash-o text-primary btn-lg"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <AddContact></AddContact>
  </div>
</template>

<script>
import { CONTACTS } from '@/mock-data/contacts';
import AddContact from '@/components/AddContact';

export default {
  name: 'ContactList',
  components: {
    AddContact
  },
  data() {
    return {
      allContacts: [],
      amendedContacts: [],
      placeholderImage: 'contact_placeholder.png',
      filterText: 'Filter by',
      filterOptions: ['Mobile number', 'Email'],
      selectedFilterOption: String
    };
  },
  created: function() {
    this.selectedFilterOption = this.filterOptions[0];
    this.retrieveContacts();
  },
  methods: {
    retrieveContacts: async function() {
      this.allContacts = CONTACTS;
      let sortedContacts = await this.sortContacts(this.allContacts);
      this.amendedContacts = this.groupContactsAlphabetically(sortedContacts);
    },
    sortContacts(contacts) {
      return contacts.sort((a, b) => {
        return a.firstName > b.firstName ? 1 : -1;
      });
    },
    groupContactsAlphabetically(contacts) {
      let list = contacts.reduce((groups, contact) => {
        const char = contact.firstName.charAt(0);

        groups[char] = groups[char] || [];
        groups[char].push(contact);

        return groups;
      }, {});

      return Object.keys(list).map(key => ({
        key,
        contacts: list[key]
      }));
    },
    setContactPicture: function(image) {
      return image || 'contact_placeholder.png';
    },
    changeFilterOption(option) {
      this.filterText = option;
      this.selectedFilterOption = option;
    },
    removeContact(contact) {
      this.allContacts = this.allContacts.filter(_contact => {
        return _contact !== contact;
      });
      let sorted = this.sortContacts(this.allContacts);
      this.amendedContacts = this.groupContactsAlphabetically(sorted);
    }
  }
};
</script>

<style lang="scss">
.page-title {
  color: var(--secondary);
}
.page-utilities {
  text-align: right;
}
.contact-image {
  border-radius: 50%;
  width: 6em;
  height: 6em;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 2px 2px rgba(#555555, 0.3);
}
</style>
