@import './fonts.scss';

body {
  overflow-x: hidden;
}

/* Bootstrap Overrides */

:root {
  --blue: #4a90e2;
  --gray-light: #e8e8e8;
  --primary: #4a90e2;
}

.card {
  border: none;
  border-radius: 0;
}

.card-header {
  font-weight: bold;
  background-color: var(--gray-light);
  border-bottom: none;
  border-radius: 0;
  padding: 0.25rem 1rem;
  &:first-child {
    border-radius: 0;
  }
}

.card-text {
  color: var(--gray);
}

.btn-outline-primary {
  background-color: var(--white);
  color: var(--primary);
  border-color: var(--primary);
  &:hover {
    background-color: var(--primary);
    border-color: var(--primary);
  }
  &.btn-secondary {
    &:focus {
      background-color: var(--primary);
      border-color: var(--primary);
    }
  }
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-light {
  background-color: var(--white);
  border-color: var(--white);
}

.modal {
  font-family: $font-family-base;
}

.modal-header {
  padding-top: 1rem;
  position: relative;
}

.modal-title {
  font-size: 1.5rem;
  color: var(--primary);
}

.modal-close {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0;
  right: -0.5rem;
  font-size: 1.5rem;
  color: var(--gray-light);
  cursor: pointer;
}

.modal-body {
  padding: 1rem 2rem 2rem;
}
