$font-family-base: 'Roboto', Helvetica, Arial, sans-serif;
#app {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'CreateSavyIcons';
    src:  url('~@/assets/fonts/create-savy-icons.eot?uel8v4');
    src:  url('~@/assets/fonts/create-savy-icons.eot?uel8v4#iefix') format('embedded-opentype'),
      url('~@/assets/fonts/create-savy-icons.ttf?uel8v4') format('truetype'),
      url('~@/assets/fonts/create-savy-icons.woff?uel8v4') format('woff'),
      url('~@/assets/fonts/create-savy-icons.svg?uel8v4#CreateSavyIcons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'CreateSavyIcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-close:before {
    content: "\e902";
  }
  .icon-plus:before {
    content: "\e901";
  }
  .icon-trash-o:before {
    content: "\e900";
  }
  
